@import "normalize";
@import "mixins/adaptive";
@import "utilities/text";
@import "fonts";

:root {
    --sidebar-width: 490px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
